<% comment ||= nil %>
<% if comment %>
<div class="list-group-item list-group-item-action comment" id="comment-<%= comment.id %>">
    <div class=" row">
        <div class="col-md-2">
            <%= comment.user&.email %>
        </div>
        <div class="col-md-7">
            <%= comment.body %>
        </div>
        <div class="col-md-3 text-right">
            <% if current_user == comment.user %>
            <%= link_to "삭제", comment_path(comment), class: "text-danger", method: :delete, remote:true %>
            <% end %>
        </div>
    </div>
</div>
<% end %>