<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <div class="container pr-2 pl-2">
        <a href="<%= root_path %>" class="navbar-brand font-weight-bold">
            <img src="https://www.instagram.com/static/images/web/mobile_nav_type_logo-2x.png/1b47f9d0e595.png" class="main-logo"></img>
        </a>
        <div>
            <a href="<%= root_path %>" class="ml-3">
                <i class="fas fa-home fa-lg text-dark"></i>
            </a>
            <% if current_user.present? %>
            <a href="/users" class="ml-3">
                <i class="fas fa-heart fa-lg text-dark"></i>
            </a>
            <a href="/posts/my" class="ml-3">
                <% if current_user.image.present? %>
                <img src="<% current_user.image.image_url %>" class="rounded-circle" sytle="width:22px; height22px"></img>
                <%else%>
                <i class="fas fa-user fa-lg text-dark"></i>
                <%end%>
            </a>
            <%=link_to destroy_user_session_path, class: "ml-3", method: :delete do %>
            <i class="fas fa-sign-out-alt fa-lg text-dark"></i>
            <%end%>
            <% else %>
            <a href="<%= new_user_session_path %>" class="ml-3">
                <i class="fas fa-user fa-lg text-dark"></i>
            </a>
            <% end %>
        </div>
    </div>
</nav>